<% if book.favorited_by?(current_user) %><!--いいね機能-->
 <p>
   <%= link_to book_favorites_path(book), method: :delete, remote: true do %><!--remote:trueを追加するとJavaScriptのリクエストがfavoritesコントローラに贈られる-->
     ♥<%= book.favorites.count %>
   <% end %>
 </p>
   <% else %>
 <p>
    <%= link_to book_favorites_path(book), method: :post, remote: true do %><!--remote:trueを追加するとJavaScriptのリクエストがfavoritesコントローラに贈られる-->
      ♡<%= book.favorites.count %>
    <% end %>
 </p>
<% end %>